
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.BundlesConfigurator.php/
/.Flex.php/
/.Path.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> local/macos ###
.DS_Store
.idea
###< local/macos ###
